appdirs==1.4.4
blinker==1.6.3
Flask==3.0.0
fonttools==4.25.0
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.1
gunicorn==21.2.0
hyperopt==0.2.7
imageio==2.33.0
imbalanced-learn==0.11.0
imblearn==0.0
itsdangerous==2.1.2
lazy_loader==0.3
lime==0.2.0.1
Mako==1.2.4
Markdown==3.5
markdown-it-py==3.0.0
mdurl==0.1.2
mlflow==2.8.0
scikit-image==0.22.0
scikit-learn 
scipy==1.11.2
smmap==5.0.1
smote==0.1
SQLAlchemy==2.0.22
sqlparse==0.4.4
st-pages==0.4.5
streamlit==1.28.1
virtualenv==20.24.6
lightgbm

